@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
/*font-family: 'Quicksand', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/*font-family: 'Rubik', sans-serif;*/

span,
p {
    user-select: none;
}

a {
    text-decoration: none !important;
    color: white !important;
}

.containerName {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
}

.container_MenuItem {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    .containerName {
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
    }
}