@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
/*font-family: 'Quicksand', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/*font-family: 'Rubik', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
/*font-family: 'Audiowide', cursive;*/

.container_Particles {
    width: 100%;
    height: 110vh;
    position: relative;
}

.container_Particles div:nth-child(1) {
    /* width: 100%;
    height: 500px !important;
    background-color: red !important; */
    width: 100%;
    height: 110vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    display: flex;
}

.container_Contenedor {
    width: 100%;
    height: auto;
    position: absolute;
    top: 15%;
    padding: 0 50px;
    display: flex;
    justify-content: center;
}

.container_Contenedor div:first-child {
    /*container text*/
    width: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

.container_Contenedor div:first-child h1 {
    font-size: 67px;
    text-align: start;
    letter-spacing: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.container_Contenedor div:first-child button {
    /*container text*/
    width: 150px;
    padding: 5px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    border: 1px solid white;
    background-color: transparent;
}

.container_Contenedor div:last-child {
    /*container img*/
    width: 44%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin: 0;
}

.container_Contenedor div:last-child img {
    border-radius: 50%;
}

.container_Section1 {
    width: 80%;
    text-align: start;
    padding-left: 70px;
    font-family: 'Rubik', sans-serif;
}

.container_Section1 p {
    color: #747486;
}

.container_Proyect1 {
    margin: 0 70px;
    margin-top: 30px;
    border: 1px solid white;
}

.container_Proyect2,
.container_Proyect3 {
    margin: 0 70px;
    margin-top: 150px;
    border: 1px solid white;
}

.container_Gaed {
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: center;
}

.container_Gaed div {
    width: 120px;
}

.container_Proyect1 h1 {
    font-size: 50px;
    padding: 5px;
    padding-top: 25px;
    margin: 0;
    border: 5px solid white;
    font-family: 'Rubik', sans-serif;
}


.container_info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.container_info h4 {
    width: 100%;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    font-weight: 600;
}

.container_info div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
}

.container_info div p {
    width: 200px;
    padding: 10px;
    display: flex;
    margin: 10px;
    justify-content: center;
    flex-wrap: nowrap;
    user-select: none;
    background-color: #3F3F51;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
}

.container_Proyect1 .info_Proyect,
.container_Proyect2 .info_Proyect,
.container_Proyect3 .info_Proyect {
    width: 100%;
    padding: 15px 40px;
    font-family: 'Rubik', sans-serif;
    color: #747486;
}

.containerButtons_Proyect {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.containerButtons_Proyect a {
    width: 150px;
    padding: 10px;
    display: block;
    font-family: 'Rubik', sans-serif;
    color: white;
    margin: 0 15px;
    border: 1px solid transparent;
    background-color: #494952;
    text-decoration: none;
}

.containerButtons_Proyect a:hover {
    background-color: transparent;
    border: 1px solid #494952;
    transition: background-color 0.4s;
}

.h1_Countries {
    font-family: 'Audiowide', cursive;
    font-weight: bold;
}

.pFoodly {
    margin: 0;
    line-height: 75px;
}

.container_technologies {
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: flex-start;
}

.container_technologies .containerAll_technologies {
    width: 100%;
    /* border: 1px solid white; */
    margin: 0 70px;
}

.container_technologies .containerAll_technologies .containerTitle {
    width: 100%;
    text-align: start;
    /* border: 1px solid red; */
    font-family: 'Quicksand', sans-serif;
}

.container_technologies .containerAll_technologies .containerTitle p {
    /* border: 1px solid red; */
    font-family: 'Rubik', sans-serif;
    color: #747486;
}

.containerImg_technologies {
    width: 100%;
    height: auto;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerImg_technologies div {
    width: 110px;
    height: 110px;
    margin: 40px 50px;
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #3F3F51;
    position: relative;
}

.containerImg_technologies div p {
    top: 105%;

    padding: 2px 10px;
    border-radius: 5px;
    position: absolute;
    background-color: black;
    font-family: 'Rubik', sans-serif;
}


.containerImg_technologies div:hover {
    cursor: pointer;
}


/*Formulario de contacto*/
.container_Form {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.container_Form .containerTitle_Contact {
    width: 80%;
    /* border: 1px solid red; */
    margin-left: 70px;
    text-align: start;
}

.container_Form .containerTitle_Contact h3 {
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.container_Form .containerTitle_Contact p {
    font-family: 'Rubik', sans-serif;
    color: #747486;
}

.container_Form form {
    width: 100%;
    margin: 0 70px;
    border: 1px solid white;
    display: flex;
}

.container_Inputs {
    width: 50%;
    /* border: 1px solid red; */
}

.container_Inputs div:nth-child(1),
.container_Inputs div:nth-child(2),
.container_Inputs div:nth-child(3) {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px;
    margin-bottom: 30px;
}

.container_Inputs div:nth-child(1) label,
.container_Inputs div:nth-child(2) label,
.container_Inputs div:nth-child(3) label {
    margin-bottom: 18px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.container_Inputs div:nth-child(1) input,
.container_Inputs div:nth-child(2) input {
    padding: 12px;
    background-color: #2A2A35;
    border: 1px solid rgb(145, 145, 145);
    outline: none;
}

.container_Inputs div:nth-child(3) textarea {
    height: 200px;
    resize: none;
    color: white;
    font-family: 'Quicksand', sans-serif;
    background-color: #2A2A35;
    border: 1px solid rgb(145, 145, 145);
    outline: none;
}

.container_Inputs button {
    width: 100px;
    border: 1px solid white;
    background-color: transparent;
    padding: 7px 12px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    outline: none;
}

.containerIcons_Contact {
    width: 50%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 150px;
    justify-content: center;
    /* border: 1px solid red; */
}

.containerIcons_Contact a {
    margin: 0 15px;
}

.containerIcons_Contact a:hover {
    cursor: pointer;
}